.labels-container {
  margin: 2rem auto 0 auto;
  text-align: center;
  width: 85%;
}

.labels {
  clear: both;
}

.label-item {
  img {
    height: 20%;
    width: 20%;
  }
  .details {
    flex-direction: column;
    justify-content: center;
    width: 80%;

    input {
      &[type="submit"] {
        background: $slate;
        border-radius: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .actions {
    padding-top: 1rem;
    text-align: center;

    button {
      background: none;
      border: none;
      margin-bottom: 1rem;
      width: 15%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.add {
  background: none;
  border: none;
  float: left;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.add-label-form {
  align-items: center;
  border: 1px solid $slate;
  clear: both;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
  width: 50%;

  input {
    width: 85%;

    &[type="submit"] {
      background: $slate;

      &:hover {
        cursor: pointer;
      }
      &:active {
        background: $lightGrey;
        border: 1px solid $slate;
      }
    }
  }

  .cancel {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
