.band-list-container {
  .add-band-form {
    align-items: center;
    border: 1px solid $slate;
    clear: both; 
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
    width: 50%;

    input {
      width: 85%;

      &[type="submit"] {
        background: $slate;

        &:hover {
          cursor: pointer;
        }
        &:active {
          background: $lightGrey;
          border: 1px solid $slate;
        }
      }
    }
    .cancel {
      background: none;
      border: none;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

.band-container-list {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  .band-container {
    background: $lightGrey;
    width: 100%;
    flex-direction: column;

    &:nth-of-type(even) {
      background: $slate;
      color: $lightGrey;
    }
    &:hover {
      box-shadow: -10px 10px 5px $loading;
      z-index: 2;
    }

    img {
      width: 20%;
      height: 20%;
      // padding: 5px;
    }
    .display-name-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      .band-name {
        font-size: 4rem;

        &:hover {
          cursor: pointer;
        }
      }

      .label-home-container {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .basic-info {
          text-decoration: none;
        }
      }
    }
    .dropdown {
      margin: 0;

      .bio-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        &:nth-of-type(odd) {
          background: $slate;
          color: $lightGrey;
        }

        //  box-shadow: 10px 10px 5px #888888;
        .band-members {
          padding-top: 2rem;
        }

        .bio {
          padding: 2rem;
        }

        .label-name {
          padding-bottom: 2rem;
          text-decoration: none;
        }
      }

      .albums-container {
        margin: 0;

        .album-image-container {
          flex-direction: row;
          justify-content: center;
          padding: 1rem;
          width: 100%;

          img {
            max-width: 200px;
            width: 20%;
            &:hover {
              box-shadow: -10px 10px 5px $loading;
              z-index: 3;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

.artist {
  .actions {
    button {
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .edit-artist-form {
    margin: 1rem 1rem 0 0;
    input {
      display: block;
      margin-bottom: .5rem;

      &[type="submit"] {
        background: $slate;
        border-radius: 0;

        &:hover {
          cursor: pointer;
        }
        &:active {
          background: $lightGrey;
          border: $slate;
        }
      }
    }
  }
}
