.band-container-list {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  .band-container {
    background: $lightGrey;
    width: 100%;
    // border: 1px solid black;
    flex-direction: column;
    &:nth-of-type(even) {
      background: $sky;
    }
    &:hover {
      box-shadow: -10px 10px 5px $loading;
      z-index: 2;
    }

    img {
      width: 20%;
      height: 20%;
    }
    .display-name-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      .band-name {
        font-size: 4rem;
      }

      .label-home-container {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .basic-info {
          text-decoration: none;
        }
      }
    }
    .dropdown {
      margin: 0;

      .bio-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        &:nth-of-type(odd) {
          background: $sky;
        }

        .band-members {
          padding-top: 2rem;
        }

        .bio {
          padding: 2rem;
        }

        .label-name {
          padding-bottom: 2rem;
          text-decoration: none;
        }
      }

      .albums-container {
        margin: 0;

        .album-image-container {
          flex-direction: row;
          // border: 1px solid black;
          width: 100%;

          .album-one-image {
            position: relative;
            float: left;
            width: 50%;
            margin: 0;

            img {
              height: 100%;
              width: 100%;
              margin: 0;
              &:hover {
                box-shadow: -10px 10px 5px $loading;
                z-index: 3;
                transform: scale(1.05);
              }
            }
          }

          .other-album-images {
            position: relative;
            flex-wrap: wrap;
            float: right;
            width: 50%;

            img {
              height: 50%;
              width: 50%;
              margin: 0;
              &:hover {
                box-shadow: -10px 10px 5px $loading;
                z-index: 3;
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}
