body {
  background: $slate;
}

.main-wrapper {
  background: $lightGrey;
  margin: 0 auto;
  width: 85%;
}

nav {
  li {
    &.active {
      color: $lightGrey;
    }
  }
}

main {
  background: $lightGrey;

  .content-container {
    padding: 2rem;
  }
}

.search-form {
  margin: 0 auto;
  width: 50%;

  .search {
    border: 1px solid $slate;
    width: 100%;
  }
}
