.genres-container {
  margin: 2rem auto auto 5rem;

  .actions {
    padding-left: 1rem;
    width: 25%;

    button {
      background: none;
      border: none;
    }
  }

  input {
    &[type="submit"] {
      background: $slate;
      border-radius: 0;
      margin-left: .5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.genres-list {
  margin: 1rem auto auto 3rem;
  text-align: left;
  width: 30%;

  .genre-bands {
    margin-bottom: 1rem;

    li {
      align-items: center;
      margin: 1rem 0 1rem 2rem;

      img {
        width: 50px;
      }
      span {
        margin-left: .5rem;
      }
    }
  }

  .edit-genre-form {
    margin-top: .5rem;
    padding-left: 1rem;
  }
}

.add-genre-form {

  .cancel {
    background: none;
    border: none;
    margin-left: .5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.genre-item {
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
