.labels-container {
  margin: 2rem auto 0 auto;
  padding-left: 15rem;
  text-align: center;
  width: 85%;
}

.labels {
  clear: both;
}

.label-item {
  img {
    height: 20%;
    width: 20%;
  }
  .details {
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .actions {
    padding-top: 1rem;
    text-align: center;

    button {
      background: none;
      border: none;
      margin-bottom: 1rem;
      width: 15%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.add {
  background: none;
  border: none;
  float: left;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }
}
