.labels-container {
  margin: 0 auto;
  padding-left: 15rem;
  text-align: center;
  width: 85%;

  .label-item {
    img {
      height: 20%;
      width: 20%;
    }
    div {
      flex-direction: column;
      justify-content: center;
      width: 80%;
    }
  }
}
