body {
  color: $slate;
  font: 16px/1.6 $primaryFont;
}

// header styles
header {
  h1 {
    font: 7rem $headers;
    text-shadow: 2px 2px $lightGrey;
    text-transform: uppercase;
  }

  nav {
    li {
      font-size: 1.5rem;

      &:hover {
        color: $lightGrey;
        text-decoration: underline;
      }
    }
  }
}

// headings in main content
h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}

// search form
.search-form {

  .search {
    color: $slate;
    font: 2rem $primaryFont;
  }
}

// genres
.genres-container {

  h2 {
    text-decoration: underline;
  }

  h3 {
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    color: $sky;
    font-family: $primaryFont;
    text-decoration: underline;

    &:active {
      color: $slate;
    }
  }
}

// labels
.labels-container {
  h3 {
    font: 2.5rem $headers;
    text-decoration: none;
  }

  button {
    color: $sky;
    font-family: $primaryFont;
    text-decoration: underline;

    &:active {
      color: $slate;
    }
  }
}
